In [1]:
#import libraries
import pandas as pd
import os
import configparser

# Read the value from the config.ini file
config = configparser.ConfigParser()
config.read('config.ini')
output_file_dir = config.get('path', 'output_file_dir')
output_file_name_net_sales = config.get('path', 'output_file_name_net_sales')
cateFileDir = config.get('path', 'cateFileDir')
# Read the category file
try:
    df_cate = pd.read_excel(cateFileDir)
except FileNotFoundError as e:
    # Hard code the category file path
    df_cate = pd.read_excel(r'...')# Hard code the category file path

# Read the net sales file
net_sales_data = os.path.join(output_file_dir, output_file_name_net_sales) + '.csv'

# Read the merged file csv
# input_file should be the path of the file
try:
    input_file = net_sales_data
    df = pd.read_csv(input_file)
except FileNotFoundError as e:
    # Hard code the path of the file
    input_file = r"..."
    df = pd.read_csv(input_file)
df.dropna(inplace=True)

In [2]:
print(df.head(5))
print(df_cate.head(5))

         Date      Time           InvoiceID        Barcode  Total Include VAT
0  2023-01-01  00:40:59  VN0001010101230001  8935049500544             7000.0
1  2023-01-01  00:41:18  VN0001010101230002  8938512632025            12000.0
2  2023-01-01  00:41:55  VN0001010101230003  8936011773416            25000.0
3  2023-01-01  00:41:55  VN0001010101230003  8936079121761            13000.0
4  2023-01-01  00:41:55  VN0001010101230003  8850453017528            13000.0
         Barcode Division Name   Category Name          SubCategory Name
0  9956991810612   LivingGoods    Living goods  Other Non-edible Grocery  \
1       96183519         Candy  Candy Category                Hard Candy
2       96118528         Candy  Candy Category                Hard Candy
3       96118511         Candy  Candy Category                Hard Candy
4       96118504         Candy  Candy Category                Hard Candy

                                           Item Name
0                          #Alladdin bật lửa x 1 cái
1  FISHERMANS Kẹo cay con tàu vị táo quế bạc hà 2...
2  FISHERMANS Kẹo cay con tàu vị spearmint 25g x1...
3     FISHERMANS Kẹo cay Cherry & Method 25g x 1 gói
4              FISHERMANS Kẹo quýt bạc hà 25g x1 gói

In [3]:
df.drop_duplicates(inplace=True)
df

,Date,Time,InvoiceID,Barcode,Total Include VAT
0,2023-01-01,00:40:59,VN0001010101230001,8935049500544,7000.0
1,2023-01-01,00:41:18,VN0001010101230002,8938512632025,12000.0
2,2023-01-01,00:41:55,VN0001010101230003,8936011773416,25000.0
3,2023-01-01,00:41:55,VN0001010101230003,8936079121761,13000.0
4,2023-01-01,00:41:55,VN0001010101230003,8850453017528,13000.0
...,...,...,...,...,...
68978410,2023-07-05,18:58:59,VN0061010507230308,8935250402019,48000.0
68978411,2023-07-05,13:02:59,VN0061010507230185,8934803071085,13000.0
68978412,2023-07-05,09:15:59,VN0061010507230092,8935090910873,36000.0
68978413,2023-07-05,09:15:59,VN0061010507230092,8935005800015,12000.0
68978414,2023-07-05,09:15:59,VN0061010507230092,2120201000017,9000.0

In [4]:
# Convert the data type of the column 'Barcode' to string
df_cate['Barcode'] = df_cate['Barcode'].astype(str)
df['Barcode'] = df['Barcode'].astype(str)

# Merge the two dataframes
df_merged = pd.merge(df, df_cate, on='Barcode', how='left')

In [5]:
df_merged

,Date,Time,InvoiceID,Barcode,Total Include VAT,Division Name,Category Name,SubCategory Name,Item Name
0,2023-01-01,00:40:59,VN0001010101230001,8935049500544,7000.0,Beverage,Bottled Water,Mineral water,DASANI Nước khoáng 510ml x1 Chai
1,2023-01-01,00:41:18,VN0001010101230002,8938512632025,12000.0,Beverage,Bottled Water,Purified water,SATORI Nước tinh khiết 500ml x 1 Chai
2,2023-01-01,00:41:55,VN0001010101230003,8936011773416,25000.0,Ice Cream,Packaged Ice Cream/Novelties,Other Ice Cream,#Celano Kem Bánh Cá Trân Châu Dừa Tắc 70g * 1 cây
3,2023-01-01,00:41:55,VN0001010101230003,8936079121761,13000.0,Snacks,Potato Chips,Potato Snacks,Lay's Wavy Vị Thăn Bò Nướng Texas 58gr x 1 gói
4,2023-01-01,00:41:55,VN0001010101230003,8850453017528,13000.0,Ice Cream,Packaged Ice Cream/Novelties,Stick,MILO Kem que Magma 55g x1 Cây
...,...,...,...,...,...,...,...,...,...
35898463,2023-07-05,18:58:59,VN0061010507230308,8935250402019,48000.0,LivingGoods,Paper/Plastic/Foil Products,Tissue,EMOS Khan An 100pcs x 1 Gói
35898464,2023-07-05,13:02:59,VN0061010507230185,8934803071085,13000.0,Snacks,Non-potato Chips,Salty Snacks,OISHI Snack Tôm cay nồng 70g x gói
35898465,2023-07-05,09:15:59,VN0061010507230092,8935090910873,36000.0,Snacks,Snacks for Drinks,Nuts/Seeds,DanD Hạnh Nhân Không Muối 50g x 1 gói
35898466,2023-07-05,09:15:59,VN0061010507230092,8935005800015,12000.0,Beverage,Bottled Water,Mineral water,LAVIE Nuoc Khoang 750ml x 1 Chai
35898467,2023-07-05,09:15:59,VN0061010507230092,2120201000017,9000.0,Fresh Grocery,Fruit Cat,Fruit Sub,U&I Chuối cavendish DOLE - trái lẻ

In [6]:
df_filter = df_merged[['InvoiceID', 'Barcode', 'Total Include VAT', 'Division Name']]

df_filter

                   InvoiceID        Barcode  Total Include VAT  Division Name
0         VN0001010101230001  8935049500544             7000.0       Beverage
1         VN0001010101230002  8938512632025            12000.0       Beverage
2         VN0001010101230003  8936011773416            25000.0      Ice Cream
3         VN0001010101230003  8936079121761            13000.0         Snacks
4         VN0001010101230003  8850453017528            13000.0      Ice Cream
...                      ...            ...                ...            ...
35898463  VN0061010507230308  8935250402019            48000.0    LivingGoods
35898464  VN0061010507230185  8934803071085            13000.0         Snacks
35898465  VN0061010507230092  8935090910873            36000.0         Snacks
35898466  VN0061010507230092  8935005800015            12000.0       Beverage
35898467  VN0061010507230092  2120201000017             9000.0  Fresh Grocery

[35898468 rows x 4 columns]

In [ ]:
import pandas as pd
from multiprocessing import Pool

# Define the function to perform groupby and aggregation
def group_and_aggregate(invoice_id):
    group = df_filter[df_filter['InvoiceID'] == invoice_id]
    barcode = ', '.join(group['Barcode'].astype(str))
    total_include_vat = group['Total Include VAT'].sum()
    division_name = ', '.join(group['Division Name'].astype(str))
    return {'InvoiceID': invoice_id, 'Barcode': barcode, 'Total Include VAT': total_include_vat, 'Division Name': division_name}

# Get unique InvoiceIDs
unique_invoice_ids = df_filter['InvoiceID'].unique()

# Use multiple processes to parallelize the groupby and aggregation
with Pool(processes=4) as pool:  # You can adjust the number of processes based on your system
    results = pool.map(group_and_aggregate, unique_invoice_ids)

# Create the resulting dataframe
group_by_invoice = pd.DataFrame(results)

print(group_by_invoice)

In [7]:
group_by_invoice = df_filter.groupby('InvoiceID').agg({'Barcode': lambda x: ', '.join(x.astype(str)), 
                                      'Total Include VAT': 'sum', 
                                      'Division Name': lambda x: ', '.join(x.astype(str))}).reset_index()
group_by_invoice

,InvoiceID,Barcode,Total Include VAT,Division Name
0,VN0001010101230001,8935049500544,7000.0,Beverage
1,VN0001010101230002,8938512632025,12000.0,Beverage
2,VN0001010101230003,"8936011773416, 8936079121761, 8850453017528, 8...",115000.0,"Ice Cream, Snacks, Ice Cream, Milk, Health&Beauty"
3,VN0001010101230004,"8801100128845, 8801100128845, 2010101000005, 2...",257000.0,"Wine&Liquor, Wine&Liquor, FF Beverage, FF Onsi..."
4,VN0001010101230005,"8934588843051, 8934588183133",26000.0,"Beverage, Beverage"
...,...,...,...,...
15597313,VN9996023101230489,"8936079121822, 2010101000005, 8801100129347",175000.0,"Snacks, FF Beverage, Wine&Liquor"
15597314,VN9996023101230490,8935112200005,13000.0,Beverage
15597315,VN9996023101230491,2010101000005,3000.0,FF Beverage
15597316,VN9996023101230492,"8936031835118, 2010101000005",47000.0,"Cigarettes, FF Beverage"
15597317,VN9996023101230493,"8802876204603, 8809405521224",358000.0,"Snacks, Snacks"

In [8]:
group_by_invoice.to_csv('group_by_invoice.csv', index=False, encoding='utf-8-sig')

In [9]:
df_filter = df_merged[['Date', 'Time', 'InvoiceID']]

In [10]:


# Merge the two dataframes on 'InvoiceID' and keep only 'Date' and 'Time' from df_merged
test_df = pd.merge(df_filter, group_by_invoice, on='InvoiceID', how='left')

print(test_df)

                Date      Time           InvoiceID
0         2023-01-01  00:40:59  VN0001010101230001  \
1         2023-01-01  00:41:18  VN0001010101230002
2         2023-01-01  00:41:55  VN0001010101230003
3         2023-01-01  00:41:55  VN0001010101230003
4         2023-01-01  00:41:55  VN0001010101230003
...              ...       ...                 ...
35898463  2023-07-05  18:58:59  VN0061010507230308
35898464  2023-07-05  13:02:59  VN0061010507230185
35898465  2023-07-05  09:15:59  VN0061010507230092
35898466  2023-07-05  09:15:59  VN0061010507230092
35898467  2023-07-05  09:15:59  VN0061010507230092

                                                    Barcode
0                                             8935049500544  \
1                                             8938512632025
2         8936011773416, 8936079121761, 8850453017528, 8...
3         8936011773416, 8936079121761, 8850453017528, 8...
4         8936011773416, 8936079121761, 8850453017528, 8...
...                                                     ...
35898463                                      8935250402019
35898464                                      8934803071085
35898465  260201013661, 8935090910873, 8935005800015, 21...
35898466  260201013661, 8935090910873, 8935005800015, 21...
35898467  260201013661, 8935090910873, 8935005800015, 21...

          Total Include VAT                                      Division Name
0                    7000.0                                           Beverage
1                   12000.0                                           Beverage
2                  115000.0  Ice Cream, Snacks, Ice Cream, Milk, Health&Beauty
3                  115000.0  Ice Cream, Snacks, Ice Cream, Milk, Health&Beauty
4                  115000.0  Ice Cream, Snacks, Ice Cream, Milk, Health&Beauty
...                     ...                                                ...
35898463            48000.0                                        LivingGoods
35898464            13000.0                                             Snacks
35898465            75000.0         FF Onsite, Snacks, Beverage, Fresh Grocery
35898466            75000.0         FF Onsite, Snacks, Beverage, Fresh Grocery
35898467            75000.0         FF Onsite, Snacks, Beverage, Fresh Grocery

[35898468 rows x 6 columns]