In [7]:
import pandas as pd
import configparser
import os

# Read the value from the config.ini file
config = configparser.ConfigParser()
config.read('config.ini')
output_file_dir = config.get('path', 'output_file_dir')
output_file_name_net_sales = config.get('path', 'output_file_name_net_sales')
cateFileDir = config.get('path', 'cateFileDir')
# Read the category file
try:
    df_cate = pd.read_excel(cateFileDir)
except FileNotFoundError as e:
    df_cate = pd.read_excel(r"C:\Users\minhtriet.pham\Desktop\New folder\VscodeRun\DataCate.xlsx")
# using os.path.join() method
# output_file_dir = os.path.join(output_file_dir, 'outputFile')
net_sales_data = os.path.join(output_file_dir, output_file_name_net_sales) + '.csv'

# Read the csv file
# input_file should be the path to the merge csv file..
try:
    input_file = net_sales_data
    df = pd.read_csv("r"+ input_file)
except FileNotFoundError as e:
    input_file = r"/mnt/d/VscodeRun/Output Data/dataNetSales.csv"
    df = pd.read_csv(input_file)
df.dropna(inplace=True)

In [2]:
df_cate

,Barcode,Division Name,Category Name,SubCategory Name,Item Name
0,9956991810612,LivingGoods,Living goods,Other Non-edible Grocery,#Alladdin bật lửa x 1 cái
1,96183519,Candy,Candy Category,Hard Candy,FISHERMANS Kẹo cay con tàu vị táo quế bạc hà 2...
2,96118528,Candy,Candy Category,Hard Candy,FISHERMANS Kẹo cay con tàu vị spearmint 25g x1...
3,96118511,Candy,Candy Category,Hard Candy,FISHERMANS Kẹo cay Cherry & Method 25g x 1 gói
4,96118504,Candy,Candy Category,Hard Candy,FISHERMANS Kẹo quýt bạc hà 25g x1 gói
...,...,...,...,...,...
13823,8936146730438,Wine&Liquor,Liquor,Cordials/Brandy/Cognac,FS WINE Bộ sản phẩm rượu Chivas Regal 18YO 70CL
13824,8936146730452,Wine&Liquor,Liquor,Cordials/Brandy/Cognac,FS WINE Bộ sản phẩm rượu Chivas Regal 18 Mizun...
13825,9322214007387,Wine&Liquor,Wine,Table/Varietal Wine,Rượu vang Yellow Tail Chardonnay 750ml x Chai
13826,9322214009060,Wine&Liquor,Wine,Table/Varietal Wine,#Rượu vang Yellow Tail Merlot 750mlxchai
13827,9322214011407,Wine&Liquor,Wine,Table/Varietal Wine,Rượu vang trắng Yellow Tail Moscato 750ml x Chai

In [3]:
df_cate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13828 entries, 0 to 13827
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Barcode           13828 non-null  object
 1   Division Name     13828 non-null  object
 2   Category Name     13828 non-null  object
 3   SubCategory Name  13828 non-null  object
 4   Item Name         13828 non-null  object
dtypes: object(5)
memory usage: 540.3+ KB

In [4]:
df

,Date,Time,InvoiceID,Barcode,Sum of Qty,Total Exclude VAT
0,2023-01-01,00:40:59,VN0001010101230001,8935049500544,1,6481.0
1,2023-01-01,00:41:18,VN0001010101230002,8938512632025,2,11112.0
2,2023-01-01,00:41:55,VN0001010101230003,8936011773416,1,23148.0
3,2023-01-01,00:41:55,VN0001010101230003,8936079121761,1,12037.0
4,2023-01-01,00:41:55,VN0001010101230003,8850453017528,1,12037.0
...,...,...,...,...,...,...
40182670,2023-08-16,00:58:59,VN0241021608230012,2701020000022,1,18519.0
40182671,2023-08-16,11:14:59,VN0241021608230141,8935112200005,2,20370.0
40182672,2023-08-16,11:14:59,VN0241021608230141,8935001215028,1,12037.0
40182673,2023-08-16,01:26:59,VN0241021608230020,8934822421212,3,68182.0
40182674,2023-08-16,01:26:59,VN0241021608230020,8934822431211,2,45455.0

In [5]:
df.drop_duplicates(inplace=True)
df

,Date,Time,InvoiceID,Barcode,Sum of Qty,Total Exclude VAT
0,2023-01-01,00:40:59,VN0001010101230001,8935049500544,1,6481.0
1,2023-01-01,00:41:18,VN0001010101230002,8938512632025,2,11112.0
2,2023-01-01,00:41:55,VN0001010101230003,8936011773416,1,23148.0
3,2023-01-01,00:41:55,VN0001010101230003,8936079121761,1,12037.0
4,2023-01-01,00:41:55,VN0001010101230003,8850453017528,1,12037.0
...,...,...,...,...,...,...
40182670,2023-08-16,00:58:59,VN0241021608230012,2701020000022,1,18519.0
40182671,2023-08-16,11:14:59,VN0241021608230141,8935112200005,2,20370.0
40182672,2023-08-16,11:14:59,VN0241021608230141,8935001215028,1,12037.0
40182673,2023-08-16,01:26:59,VN0241021608230020,8934822421212,3,68182.0
40182674,2023-08-16,01:26:59,VN0241021608230020,8934822431211,2,45455.0

In [6]:
# Add new column StoreID (first 6 digits of InvoiceID)
df['StoreID'] = df['InvoiceID'].str[:6]

In [7]:
print(df['Barcode'][:10])

0    8935049500544
1    8938512632025
2    8936011773416
3    8936079121761
4    8850453017528
5    8935217400027
6    8934755042195
7    8801100128845
8    2010101000005
9    2010805000295
Name: Barcode, dtype: int64

In [8]:
# # Group by InvoiceID and calculate the sum of Total Include VAT for each group
df_grouped = df.groupby('InvoiceID', as_index=False).agg({
    'StoreID': 'first',
    'Date': 'first',
    'Time': 'first',
    'Barcode': 'first',
    'Sum of Qty': 'sum',
    'Total Exclude VAT': 'sum'
})

In [9]:
from datetime import datetime

# Function to convert time string to a proper time format
def convert_to_time(time_str):
    try:
        return datetime.strptime(time_str, '%H:%M:%S').strftime('%H:%M')
    except ValueError:
        return None

# Function to get Time Range for each Time value
def get_time_range(time_str):
    time_str = convert_to_time(time_str)
    if time_str is None:
        return None
    hour = int(time_str[:2])
    time_range_start = f"{hour:02}:00"
    time_range_end = f"{hour:02}:59"
    return f"{time_range_start}-{time_range_end}"

# Add new column Time Range
df_grouped['Time Range'] = df_grouped['Time'].apply(get_time_range)
df_grouped

,InvoiceID,StoreID,Date,Time,Barcode,Sum of Qty,Total Exclude VAT,Time Range
0,VN0001010101230001,VN0001,2023-01-01,00:40:59,8935049500544,1,6481.0,00:00-00:59
1,VN0001010101230002,VN0001,2023-01-01,00:41:18,8938512632025,2,11112.0,00:00-00:59
2,VN0001010101230003,VN0001,2023-01-01,00:41:55,8936011773416,5,106482.0,00:00-00:59
3,VN0001010101230004,VN0001,2023-01-01,00:43:12,8801100128845,6,174478.0,00:00-00:59
4,VN0001010101230005,VN0001,2023-01-01,00:44:22,8934588843051,2,24074.0,00:00-00:59
...,...,...,...,...,...,...,...,...
17390198,VN9996023101230489,VN9996,2023-01-31,23:10:23,8936079121822,5,159091.0,23:00-23:59
17390199,VN9996023101230490,VN9996,2023-01-31,23:11:47,8935112200005,1,11818.0,23:00-23:59
17390200,VN9996023101230491,VN9996,2023-01-31,23:12:41,2010101000005,1,2727.0,23:00-23:59
17390201,VN9996023101230492,VN9996,2023-01-31,23:12:56,8936031835118,2,42727.0,23:00-23:59
17390202,VN9996023101230493,VN9996,2023-01-31,23:13:25,8802876204603,4,325454.0,23:00-23:59

In [10]:
# Create a pivot table to get the matrix representation
pivot_table_total = df_grouped.pivot_table(index=['StoreID','Date'], columns='Time Range', values='Total Exclude VAT', aggfunc='sum')
pivot_table_total = pivot_table_total.applymap("{:,.0f}".format)

pivot_table_total

Time Range         00:00-00:59 01:00-01:59 02:00-02:59 03:00-03:59  \
StoreID Date
VN0001  2023-01-01   3,487,500   3,864,099     674,413     252,777
        2023-01-02     160,000     323,635     182,727     303,635
        2023-01-03     450,910     405,454     117,273      96,363
        2023-01-04     356,363     626,363      78,181         nan
        2023-01-05     382,076     130,390     203,636     103,638
...                        ...         ...         ...         ...
VN9996  2023-01-28         nan         nan         nan         nan
        2023-01-29         nan         nan         nan         nan
        2023-01-30         nan         nan         nan         nan
        2023-01-31         nan         nan         nan         nan
        2023-02-01         nan         nan         nan         nan

Time Range         04:00-04:59 05:00-05:59 06:00-06:59 07:00-07:59  \
StoreID Date
VN0001  2023-01-01      61,112     115,051     343,515     413,449
        2023-01-02     198,182      20,000     290,000     357,272
        2023-01-03      59,999     217,274     490,001   1,982,121
        2023-01-04      69,090     566,367     425,325   2,498,524
        2023-01-05     252,728       5,455     968,051   2,196,878
...                        ...         ...         ...         ...
VN9996  2023-01-28         nan         nan      74,545     358,183
        2023-01-29         nan         nan         nan     147,273
        2023-01-30         nan         nan      74,546     340,002
        2023-01-31         nan         nan     130,910     106,364
        2023-02-01         nan         nan         nan     146,363

Time Range         08:00-08:59 09:00-09:59  ... 14:00-14:59 15:00-15:59  \
StoreID Date                                ...
VN0001  2023-01-01     224,074     607,512  ...   1,441,188     587,512
        2023-01-02     517,274     500,002  ...   1,146,622     417,791
        2023-01-03   3,055,724   1,459,399  ...   1,048,179   1,834,545
        2023-01-04   3,027,099   2,255,712  ...     856,112   1,731,214
        2023-01-05   4,213,026   2,122,732  ...   1,660,653   1,499,266
...                        ...         ...  ...         ...         ...
VN9996  2023-01-28   1,042,725     635,454  ...     759,996   2,438,748
        2023-01-29   1,413,634   1,231,818  ...     631,819   1,498,177
        2023-01-30     649,089     861,814  ...     457,274     944,543
        2023-01-31     381,818     140,908  ...     290,000     870,907
        2023-02-01     476,364     596,363  ...     425,457   1,255,454

Time Range         16:00-16:59 17:00-17:59 18:00-18:59 19:00-19:59  \
StoreID Date
VN0001  2023-01-01     695,372   1,796,848     733,768     704,627
        2023-01-02   1,068,179     429,092     313,464     333,638
        2023-01-03   1,501,821   2,069,440   1,102,730   1,234,459
        2023-01-04   1,511,865   2,174,464   1,091,222   1,404,545
        2023-01-05   1,586,368   2,029,092   3,099,870   1,751,386
...                        ...         ...         ...         ...
VN9996  2023-01-28   2,889,085   3,325,445   3,349,996   3,457,843
        2023-01-29   2,403,633   3,365,449   3,665,455   3,728,366
        2023-01-30   2,580,000   2,864,197   2,095,451   2,825,452
        2023-01-31   1,659,654   2,432,724   2,463,635   2,173,627
        2023-02-01   1,426,364         nan         nan         nan

Time Range         20:00-20:59 21:00-21:59 22:00-22:59 23:00-23:59
StoreID Date
VN0001  2023-01-01   1,461,451   1,557,948   2,146,464   1,434,453
        2023-01-02     772,079   1,067,921     920,001     605,935
        2023-01-03   1,107,532   1,157,577     735,281     329,999
        2023-01-04     761,993     448,184     951,902     878,184
        2023-01-05   1,087,271   1,437,664   1,476,366     624,197
...                        ...         ...         ...         ...
VN9996  2023-01-28   3,651,816   3,739,995   3,087,264     468,180
        2023-01-29   3,629,995   3,546,349   2,405,101     157,272
        2023-01-30   3,130,909   2,588,175   2,588,173     186,362
        2023-01-31   3,647,827   3,427,265   2,151,811     826,361
        2023-02-01         nan         nan         nan         nan

[46319 rows x 24 columns]

In [11]:
# Save the pivot table to csv file
pivot_table_total.to_csv('TotalPerHour.csv')

In [12]:
# Create a pivot table to group the data by 'StoreID', 'WeekDay', and 'Time Range'
pivot_table_bill = df_grouped.pivot_table(index=['StoreID', 'Date'], columns='Time Range', values='InvoiceID', aggfunc=pd.Series.nunique, fill_value=0)


# Display the updated DataFrame
pivot_table_bill

Time Range          00:00-00:59  01:00-01:59  02:00-02:59  03:00-03:59  \
StoreID Date
VN0001  2023-01-01           65           80           12            7
        2023-01-02            4            3            4            3
        2023-01-03            8            5            5            1
        2023-01-04            8            6            2            0
        2023-01-05            4            4            2            4
...                         ...          ...          ...          ...
VN9996  2023-01-28            0            0            0            0
        2023-01-29            0            0            0            0
        2023-01-30            0            0            0            0
        2023-01-31            0            0            0            0
        2023-02-01            0            0            0            0

Time Range          04:00-04:59  05:00-05:59  06:00-06:59  07:00-07:59  \
StoreID Date
VN0001  2023-01-01            2            3            9            6
        2023-01-02            6            2           11           14
        2023-01-03            2            3           18           78
        2023-01-04            1           11           18           83
        2023-01-05            2            1           26           86
...                         ...          ...          ...          ...
VN9996  2023-01-28            0            0            3           13
        2023-01-29            0            0            0            4
        2023-01-30            0            0            2           13
        2023-01-31            0            0            2            5
        2023-02-01            0            0            0            8

Time Range          08:00-08:59  09:00-09:59  ...  14:00-14:59  15:00-15:59  \
StoreID Date                                  ...
VN0001  2023-01-01            9           17  ...           21           15
        2023-01-02           15            9  ...           20           13
        2023-01-03           95           54  ...           31           49
        2023-01-04           99           73  ...           26           42
        2023-01-05          112           66  ...           37           41
...                         ...          ...  ...          ...          ...
VN9996  2023-01-28           19           15  ...           29           56
        2023-01-29           44           38  ...           21           44
        2023-01-30           18           25  ...           11           29
        2023-01-31           14            5  ...            9           34
        2023-02-01           15           19  ...           17           26

Time Range          16:00-16:59  17:00-17:59  18:00-18:59  19:00-19:59  \
StoreID Date
VN0001  2023-01-01           17           19           24           14
        2023-01-02           26           11           14           14
        2023-01-03           41           48           35           28
        2023-01-04           44           53           28           21
        2023-01-05           52           33           22           31
...                         ...          ...          ...          ...
VN9996  2023-01-28           74           81           85           97
        2023-01-29           70           79          101           85
        2023-01-30           64           83           63           70
        2023-01-31           48           58           69           64
        2023-02-01           32            0            0            0

Time Range          20:00-20:59  21:00-21:59  22:00-22:59  23:00-23:59
StoreID Date
VN0001  2023-01-01           19           25           23           11
        2023-01-02           11           18           25           14
        2023-01-03           25           15           10           10
        2023-01-04           22           11           20           14
        2023-01-05           25           18           24           11
...                         ...          ...          ...          ...
VN9996  2023-01-28           84           84           66           13
        2023-01-29           83           87           59            3
        2023-01-30           87           59           61            6
        2023-01-31           80           88           56           12
        2023-02-01            0            0            0            0

[46319 rows x 24 columns]

In [13]:
# Save the pivot table to csv file
pivot_table_bill.to_csv('BillPerHour.csv')

In [14]:
# Replace non-numeric values (strings) with NaN in pivot_table_total and pivot_table_bill
pivot_table_total_numeric = pivot_table_total.applymap(lambda x: float(x.replace(',', '')) if isinstance(x, str) else np.nan)
pivot_table_bill_numeric = pivot_table_bill.applymap(float)

# Perform element-wise division between pivot_table_total_numeric and pivot_table_bill_numeric
result_df = pivot_table_total_numeric.div(pivot_table_bill_numeric)

# If you want to format the result as well, you can apply the formatting here
result_df = result_df.applymap("{:,.0f}".format)

# Display the resulting DataFrame
print(result_df)

# Save the pivot table to csv file
result_df.to_csv('AverageBasketValue.csv')

Time Range         00:00-00:59 01:00-01:59 02:00-02:59 03:00-03:59  \
StoreID Date
VN0001  2023-01-01      53,654      48,301      56,201      36,111
        2023-01-02      40,000     107,878      45,682     101,212
        2023-01-03      56,364      81,091      23,455      96,363
        2023-01-04      44,545     104,394      39,090         nan
        2023-01-05      95,519      32,598     101,818      25,910
...                        ...         ...         ...         ...
VN9996  2023-01-28         nan         nan         nan         nan
        2023-01-29         nan         nan         nan         nan
        2023-01-30         nan         nan         nan         nan
        2023-01-31         nan         nan         nan         nan
        2023-02-01         nan         nan         nan         nan

Time Range         04:00-04:59 05:00-05:59 06:00-06:59 07:00-07:59  \
StoreID Date
VN0001  2023-01-01      30,556      38,350      38,168      68,908
        2023-01-02      33,030      10,000      26,364      25,519
        2023-01-03      30,000      72,425      27,222      25,412
        2023-01-04      69,090      51,488      23,629      30,103
        2023-01-05     126,364       5,455      37,233      25,545
...                        ...         ...         ...         ...
VN9996  2023-01-28         nan         nan      24,848      27,553
        2023-01-29         nan         nan         nan      36,818
        2023-01-30         nan         nan      37,273      26,154
        2023-01-31         nan         nan      65,455      21,273
        2023-02-01         nan         nan         nan      18,295

Time Range         08:00-08:59 09:00-09:59  ... 14:00-14:59 15:00-15:59  \
StoreID Date                                ...
VN0001  2023-01-01      24,897      35,736  ...      68,628      39,167
        2023-01-02      34,485      55,556  ...      57,331      32,138
        2023-01-03      32,166      27,026  ...      33,812      37,440
        2023-01-04      30,577      30,900  ...      32,927      41,219
        2023-01-05      37,616      32,163  ...      44,883      36,567
...                        ...         ...  ...         ...         ...
VN9996  2023-01-28      54,880      42,364  ...      26,207      43,549
        2023-01-29      32,128      32,416  ...      30,087      34,049
        2023-01-30      36,060      34,473  ...      41,570      32,570
        2023-01-31      27,273      28,182  ...      32,222      25,615
        2023-02-01      31,758      31,388  ...      25,027      48,287

Time Range         16:00-16:59 17:00-17:59 18:00-18:59 19:00-19:59  \
StoreID Date
VN0001  2023-01-01      40,904      94,571      30,574      50,330
        2023-01-02      41,084      39,008      22,390      23,831
        2023-01-03      36,630      43,113      31,507      44,088
        2023-01-04      34,361      41,028      38,972      66,883
        2023-01-05      30,507      61,488     140,903      56,496
...                        ...         ...         ...         ...
VN9996  2023-01-28      39,042      41,055      39,412      35,648
        2023-01-29      34,338      42,601      36,292      43,863
        2023-01-30      40,312      34,508      33,261      40,364
        2023-01-31      34,576      41,944      35,705      33,963
        2023-02-01      44,574         nan         nan         nan

Time Range         20:00-20:59 21:00-21:59 22:00-22:59 23:00-23:59
StoreID Date
VN0001  2023-01-01      76,918      62,318      93,325     130,405
        2023-01-02      70,189      59,329      36,800      43,281
        2023-01-03      44,301      77,172      73,528      33,000
        2023-01-04      34,636      40,744      47,595      62,727
        2023-01-05      43,491      79,870      61,515      56,745
...                        ...         ...         ...         ...
VN9996  2023-01-28      43,474      44,524      46,777      36,014
        2023-01-29      43,735      40,763      40,764      52,424
        2023-01-30      35,987      43,867      42,429      31,060
        2023-01-31      45,598      38,946      38,425      68,863
        2023-02-01         nan         nan         nan         nan

[46319 rows x 24 columns]

In [15]:
# Group data by 'Time Range', 'StoreID', and 'Barcode', and calculate the count of each barcode in each group
barcode_counts = df_grouped.groupby(['Time Range', 'StoreID', 'Barcode']).size().reset_index(name='Count')

# Sort the data by the count in descending order
sorted_barcode_counts = barcode_counts.sort_values(by='Count', ascending=False)

# Get the top 10 barcodes with the highest counts
top_10_barcodes = sorted_barcode_counts.head(10)

print(top_10_barcodes)

          Time Range StoreID        Barcode  Count
1926904  12:00-12:59  VN0134  2010101000005   2843
2343543  14:00-14:59  VN0134  2010101000005   2595
1214940  09:00-09:59  VN0060  8934588063053   2265
1927347  12:00-12:59  VN0134  8934588063053   2142
1854524  12:00-12:59  VN0060  8934588063053   1910
2344039  14:00-14:59  VN0134  8934588063053   1810
1255361  09:00-09:59  VN0103  8934588063053   1653
817386   07:00-07:59  VN0036  2010101000005   1618
1078476  08:00-08:59  VN0134  8934588063053   1550
2483249  15:00-15:59  VN0060  8934588063053   1550

In [16]:
df_grouped

,InvoiceID,StoreID,Date,Time,Barcode,Sum of Qty,Total Exclude VAT,Time Range
0,VN0001010101230001,VN0001,2023-01-01,00:40:59,8935049500544,1,6481.0,00:00-00:59
1,VN0001010101230002,VN0001,2023-01-01,00:41:18,8938512632025,2,11112.0,00:00-00:59
2,VN0001010101230003,VN0001,2023-01-01,00:41:55,8936011773416,5,106482.0,00:00-00:59
3,VN0001010101230004,VN0001,2023-01-01,00:43:12,8801100128845,6,174478.0,00:00-00:59
4,VN0001010101230005,VN0001,2023-01-01,00:44:22,8934588843051,2,24074.0,00:00-00:59
...,...,...,...,...,...,...,...,...
17390198,VN9996023101230489,VN9996,2023-01-31,23:10:23,8936079121822,5,159091.0,23:00-23:59
17390199,VN9996023101230490,VN9996,2023-01-31,23:11:47,8935112200005,1,11818.0,23:00-23:59
17390200,VN9996023101230491,VN9996,2023-01-31,23:12:41,2010101000005,1,2727.0,23:00-23:59
17390201,VN9996023101230492,VN9996,2023-01-31,23:12:56,8936031835118,2,42727.0,23:00-23:59
17390202,VN9996023101230493,VN9996,2023-01-31,23:13:25,8802876204603,4,325454.0,23:00-23:59

In [17]:
# Backup df_grouped to df_grouped_bk
df_grouped_bk = df_grouped

df_grouped_bk

,InvoiceID,StoreID,Date,Time,Barcode,Sum of Qty,Total Exclude VAT,Time Range
0,VN0001010101230001,VN0001,2023-01-01,00:40:59,8935049500544,1,6481.0,00:00-00:59
1,VN0001010101230002,VN0001,2023-01-01,00:41:18,8938512632025,2,11112.0,00:00-00:59
2,VN0001010101230003,VN0001,2023-01-01,00:41:55,8936011773416,5,106482.0,00:00-00:59
3,VN0001010101230004,VN0001,2023-01-01,00:43:12,8801100128845,6,174478.0,00:00-00:59
4,VN0001010101230005,VN0001,2023-01-01,00:44:22,8934588843051,2,24074.0,00:00-00:59
...,...,...,...,...,...,...,...,...
17390198,VN9996023101230489,VN9996,2023-01-31,23:10:23,8936079121822,5,159091.0,23:00-23:59
17390199,VN9996023101230490,VN9996,2023-01-31,23:11:47,8935112200005,1,11818.0,23:00-23:59
17390200,VN9996023101230491,VN9996,2023-01-31,23:12:41,2010101000005,1,2727.0,23:00-23:59
17390201,VN9996023101230492,VN9996,2023-01-31,23:12:56,8936031835118,2,42727.0,23:00-23:59
17390202,VN9996023101230493,VN9996,2023-01-31,23:13:25,8802876204603,4,325454.0,23:00-23:59

In [18]:
from datetime import datetime
import pandas as pd

# Use backup DataFrame
df_grouped = df_grouped_bk
# Create the DataFrame
df = df_grouped

# Function to convert time string to a proper time format
def convert_to_time(time_str):
    try:
        return datetime.strptime(time_str, '%H:%M:%S').strftime('%H:%M')
    except ValueError:
        return None

# Function to get Time Range for each Time value
def get_time_range(time_str):
    time_str = convert_to_time(time_str)
    if time_str is None:
        return None
    hour = int(time_str[:2])
    time_range_start = f"{hour:02}:00"
    time_range_end = f"{hour:02}:59"
    return f"{time_range_start}-{time_range_end}"

# Add new column Time Range
df['Time Range'] = df['Time'].apply(get_time_range)

# Now, let's find the top 10 barcodes for each time range
# Group the data by 'StoreID', 'Date', 'Time Range', and 'Barcode', and count the occurrences
df_grouped = df.groupby(['StoreID', 'Date', 'Time Range', 'Barcode']).size().reset_index(name='Count')

# Sort the data by 'StoreID', 'Date', 'Time Range', and the count in descending order
df_grouped = df_grouped.sort_values(by=['StoreID', 'Date', 'Time Range', 'Count'], ascending=[True, True, True, False])

# Add the 'Rank' column based on the count
df_grouped['Rank'] = df_grouped.groupby(['StoreID', 'Date', 'Time Range'])['Count'].rank(ascending=False, method='first')

# Filter the top 10 barcodes for each time range
top_10_barcodes_all_time_ranges = df_grouped[df_grouped['Rank'] <= 10]

# Display the result
top_10_barcodes_all_time_ranges

         StoreID        Date   Time Range        Barcode  Count  Rank
47        VN0001  2023-01-01  00:00-00:59  8938512632025      4   1.0
0         VN0001  2023-01-01  00:00-00:59  2010101000005      3   2.0
20        VN0001  2023-01-01  00:00-00:59  8934588843051      3   3.0
31        VN0001  2023-01-01  00:00-00:59  8935049500544      3   4.0
34        VN0001  2023-01-01  00:00-00:59  8935049501503      3   5.0
...          ...         ...          ...            ...    ...   ...
16009915  VN9996  2023-02-01  16:00-16:59  2010403000185      1   6.0
16009916  VN9996  2023-02-01  16:00-16:59  2010805000028      1   7.0
16009917  VN9996  2023-02-01  16:00-16:59  8850157400107      1   8.0
16009918  VN9996  2023-02-01  16:00-16:59  8858223013039      1   9.0
16009919  VN9996  2023-02-01  16:00-16:59  8934564600357      1  10.0

[8769186 rows x 6 columns]

In [19]:
df_grouped

         StoreID        Date   Time Range        Barcode  Count  Rank
47        VN0001  2023-01-01  00:00-00:59  8938512632025      4   1.0
0         VN0001  2023-01-01  00:00-00:59  2010101000005      3   2.0
20        VN0001  2023-01-01  00:00-00:59  8934588843051      3   3.0
31        VN0001  2023-01-01  00:00-00:59  8935049500544      3   4.0
34        VN0001  2023-01-01  00:00-00:59  8935049501503      3   5.0
...          ...         ...          ...            ...    ...   ...
16009927  VN9996  2023-02-01  16:00-16:59  8935049501503      1  16.0
16009930  VN9996  2023-02-01  16:00-16:59  8936079140014      1  17.0
16009931  VN9996  2023-02-01  16:00-16:59  8936079140076      1  18.0
16009932  VN9996  2023-02-01  16:00-16:59  8936127791014      1  19.0
16009933  VN9996  2023-02-01  16:00-16:59  8936149340047      1  20.0

[16009934 rows x 6 columns]

In [20]:
test = df_grouped[(df_grouped['StoreID'] == 'VN0200') & (df_grouped['Date'] == '2023-01-06') & (df_grouped['Time Range'] == '18:00-18:59')]
test

         StoreID        Date   Time Range        Barcode  Count  Rank
13394304  VN0200  2023-01-06  18:00-18:59    31146270606      1   1.0
13394305  VN0200  2023-01-06  18:00-18:59    89686043686      1   2.0
13394306  VN0200  2023-01-06  18:00-18:59   260202000017      1   3.0
13394307  VN0200  2023-01-06  18:00-18:59  2010902000198      1   4.0
13394308  VN0200  2023-01-06  18:00-18:59  2250103000058      1   5.0
13394309  VN0200  2023-01-06  18:00-18:59  2260501000123      1   6.0
13394310  VN0200  2023-01-06  18:00-18:59  2270101000560      1   7.0
13394311  VN0200  2023-01-06  18:00-18:59  2701010000056      1   8.0
13394312  VN0200  2023-01-06  18:00-18:59  8801073210776      1   9.0
13394313  VN0200  2023-01-06  18:00-18:59  8809041428925      1  10.0
13394314  VN0200  2023-01-06  18:00-18:59  8934563653132      1  11.0
13394315  VN0200  2023-01-06  18:00-18:59  8934563670139      1  12.0
13394316  VN0200  2023-01-06  18:00-18:59  8934564600869      1  13.0
13394317  VN0200  2023-01-06  18:00-18:59  8934588063060      1  14.0
13394318  VN0200  2023-01-06  18:00-18:59  8934588293054      1  15.0
13394319  VN0200  2023-01-06  18:00-18:59  8934614015025      1  16.0
13394320  VN0200  2023-01-06  18:00-18:59  8935005801135      1  17.0
13394321  VN0200  2023-01-06  18:00-18:59  8935023911137      1  18.0
13394322  VN0200  2023-01-06  18:00-18:59  8935049501596      1  19.0
13394323  VN0200  2023-01-06  18:00-18:59  8935049510857      1  20.0
13394324  VN0200  2023-01-06  18:00-18:59  8935090912662      1  21.0
13394325  VN0200  2023-01-06  18:00-18:59  8935217440405      1  22.0
13394326  VN0200  2023-01-06  18:00-18:59  8936010532120      1  23.0
13394327  VN0200  2023-01-06  18:00-18:59  8936036026962      1  24.0
13394328  VN0200  2023-01-06  18:00-18:59  8936088900470      1  25.0
13394329  VN0200  2023-01-06  18:00-18:59  8936146442263      1  26.0
13394330  VN0200  2023-01-06  18:00-18:59  8938502525337      1  27.0
13394331  VN0200  2023-01-06  18:00-18:59  8938502525351      1  28.0
13394332  VN0200  2023-01-06  18:00-18:59  8938508228058      1  29.0
13394333  VN0200  2023-01-06  18:00-18:59  8938512632025      1  30.0

In [21]:
# query to get top 10 barcodes for time range 23:00-23:59 and store VN0001
df_query = top_10_barcodes_all_time_ranges[(top_10_barcodes_all_time_ranges['Time Range'] == '18:00-18:59') & (top_10_barcodes_all_time_ranges['StoreID'] == 'VN0200') & (top_10_barcodes_all_time_ranges['Date'] == '2023-01-06')]

In [22]:
df_query

         StoreID        Date   Time Range        Barcode  Count  Rank
13394304  VN0200  2023-01-06  18:00-18:59    31146270606      1   1.0
13394305  VN0200  2023-01-06  18:00-18:59    89686043686      1   2.0
13394306  VN0200  2023-01-06  18:00-18:59   260202000017      1   3.0
13394307  VN0200  2023-01-06  18:00-18:59  2010902000198      1   4.0
13394308  VN0200  2023-01-06  18:00-18:59  2250103000058      1   5.0
13394309  VN0200  2023-01-06  18:00-18:59  2260501000123      1   6.0
13394310  VN0200  2023-01-06  18:00-18:59  2270101000560      1   7.0
13394311  VN0200  2023-01-06  18:00-18:59  2701010000056      1   8.0
13394312  VN0200  2023-01-06  18:00-18:59  8801073210776      1   9.0
13394313  VN0200  2023-01-06  18:00-18:59  8809041428925      1  10.0

In [23]:
df_grouped_bk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17390203 entries, 0 to 17390202
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   InvoiceID          object
 1   StoreID            object
 2   Date               object
 3   Time               object
 4   Barcode            int64
 5   Sum of Qty         int64
 6   Total Exclude VAT  float64
 7   Time Range         object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.0+ GB

In [24]:
# Convert 'Barcode' column to a consistent data type in both dataframes
df_grouped_bk['Barcode'] = df_grouped_bk['Barcode'].astype(str)
df_cate['Barcode'] = df_cate['Barcode'].astype(str)

# Perform the merge
test_df = df_grouped_bk.merge(df_cate, how='left', on='Barcode')

# Continue with your filtering
test_df_query = test_df[(test_df['StoreID'] == 'VN0043') & 
                        (test_df['Date'] == '2023-01-06') & 
                        (test_df['Time Range'] == '18:00-18:59') ]

test_df_query

,InvoiceID,StoreID,Date,Time,Barcode,Sum of Qty,Total Exclude VAT,Time Range,Division Name,Category Name,SubCategory Name,Item Name
3135103,VN0043010601230285,VN0043,2023-01-06,18:02:40,8935049500711,5,80908.0,18:00-18:59,Beverage,Tea,Sugar Tea,FUZETEA+ Trà chanh dây hạt chia 450ml x 1 Chai
3135104,VN0043010601230286,VN0043,2023-01-06,18:08:42,8938511021127,2,3636.0,18:00-18:59,LivingGoods,Paper/Plastic/Foil Products,Tissue,#Khăn ướt có cồn Max Cool x cái
3135105,VN0043010601230287,VN0043,2023-01-06,18:09:12,2010902000228,2,25455.0,18:00-18:59,FF Offsite,Rice Offsite,Onigiri,Cơm nắm bò gochujang siêu cay
3135106,VN0043010601230287,VN0043,2023-01-06,18:09:12,2010902000228,2,25455.0,18:00-18:59,FF Offsite,Rice Offsite,Onigiri,#Cơm nắm bò gochujang siêu cay
3135107,VN0043010601230288,VN0043,2023-01-06,18:14:37,8934588063053,2,14546.0,18:00-18:59,Beverage,Bottled Water,Purified water,AQUAFINA Nước tinh khiết 500ml x1 Chai
3135108,VN0043010601230289,VN0043,2023-01-06,18:29:07,8935049501374,3,29091.0,18:00-18:59,Beverage,Carbonated Drinks - CSD,No/Less Sugar CSD,COCA COLA ít đường 600ml x Chai
3135109,VN0043010601230290,VN0043,2023-01-06,18:44:14,8934588063053,7,90000.0,18:00-18:59,Beverage,Bottled Water,Purified water,AQUAFINA Nước tinh khiết 500ml x1 Chai
3135110,VN0043010601230291,VN0043,2023-01-06,18:53:01,8936094291005,2,42727.0,18:00-18:59,Beer,Import Beer,Import Beer Can,Budweiser Bia Sleek 330ml x 1lon
3135111,VN0043010601230292,VN0043,2023-01-06,18:56:01,8935001701699,1,15455.0,18:00-18:59,Candy,Candy Category,Hard Candy,ALPENLIEBE Kẹo Truyền Thống Vị Caramel 115.5g ...
3135112,VN0043010601230293,VN0043,2023-01-06,18:56:57,8934680033107,9,98182.0,18:00-18:59,Biscuit&Cookies,Biscuits,Wafflers,Cosy Bánh Quế Vị Kem Lá Dứa 126g x 1 Gói
3135113,VN0043010601230294,VN0043,2023-01-06,18:58:23,2010805000226,2,30909.0,18:00-18:59,FF Onsite,Other Cuisine,Other Cuisine Sub,Mì trộn xúc xích x 1 to
3135114,VN0043010601230295,VN0043,2023-01-06,18:59:13,8936185350130,3,54545.0,18:00-18:59,Beverage,Others Beverage,Others Drinks,KOMBUCHA vị Cam Đào 240mlxLon
3203051,VN0043020601230124,VN0043,2023-01-06,18:00:25,770795005619,1,32727.0,18:00-18:59,Snacks,Snacks for Drinks,Nuts/Seeds,DanD Hạt Điều Muối 50g x 1 gói
3203052,VN0043020601230125,VN0043,2023-01-06,18:01:22,8936011774024,4,84545.0,18:00-18:59,Ice Cream,Packaged Ice Cream/Novelties,Corner,MERINO Kem Ốc quế Supper Teen 60g x1 Cây
3203053,VN0043020601230126,VN0043,2023-01-06,18:04:45,8938502525344,3,42727.0,18:00-18:59,FF Onsite,Steamed Bun,Savoury Buns,Bánh bao 2 trứng cút 150g x 1 Cái
3203054,VN0043020601230127,VN0043,2023-01-06,18:17:19,8935015402254,3,23637.0,18:00-18:59,Beverage,Carbonated Drinks - CSD,Sugar CSD,CHƯƠNG DƯƠNG Sá xị 390ml x 1 Chai
3203055,VN0043020601230128,VN0043,2023-01-06,18:19:34,8934614030424,2,15455.0,18:00-18:59,Milk,Whole Milk,Soy milk,FAMI Sữa đậu nành canxi 200ml x1 Hộp
3203056,VN0043020601230129,VN0043,2023-01-06,18:20:58,2010805000202,2,19091.0,18:00-18:59,FF Onsite,Other Cuisine,Other Cuisine Sub,Mì trộn x 1 to
3203057,VN0043020601230130,VN0043,2023-01-06,18:23:01,8935112200005,5,44546.0,18:00-18:59,Beverage,Energy Drinks,Energy Drinks Sub,REDBULL Nước tăng lực 250ml x1 Lon
3203058,VN0043020601230131,VN0043,2023-01-06,18:23:40,2010902000228,1,16364.0,18:00-18:59,FF Offsite,Rice Offsite,Onigiri,Cơm nắm bò gochujang siêu cay
3203059,VN0043020601230131,VN0043,2023-01-06,18:23:40,2010902000228,1,16364.0,18:00-18:59,FF Offsite,Rice Offsite,Onigiri,#Cơm nắm bò gochujang siêu cay
3203060,VN0043020601230132,VN0043,2023-01-06,18:23:53,8997035601321,1,25455.0,18:00-18:59,Beverage,Sports Drinks,Sports Drinks Sub,POCARI Sweat 900ml x chai
3203061,VN0043020601230133,VN0043,2023-01-06,18:24:55,2010805000363,1,25455.0,18:00-18:59,FF Onsite,Other Cuisine,Other Cuisine Sub,Hotdog 25 Signature
3203062,VN0043020601230134,VN0043,2023-01-06,18:25:40,2270102000361,4,50909.0,18:00-18:59,FF Offsite,Rice Offsite,Onigiri,Cơm nắm kim chi phô mai
3203063,VN0043020601230135,VN0043,2023-01-06,18:27:34,2010805000356,2,26364.0,18:00-18:59,FF Onsite,Other Cuisine,Other Cuisine Sub,Hotdog 25
3203064,VN0043020601230136,VN0043,2023-01-06,18:29:23,8936049051722,1,15455.0,18:00-18:59,Grocery,Instant Noodles,Instant Noodles Pack,OTTOGI Mì Jin lẩu thái chua cay 115g x gói
3203065,VN0043020601230137,VN0043,2023-01-06,18:31:28,8936036027877,1,13636.0,18:00-18:59,Snacks,Potato Chips,Potato Snacks,SWING KTC vị phô mai 2 lớp 56g x gói
3203066,VN0043020601230138,VN0043,2023-01-06,18:33:37,8938512632025,3,10910.0,18:00-18:59,Beverage,Bottled Water,Purified water,SATORI Nước tinh khiết 500ml x 1 Chai
3203067,VN0043020601230139,VN0043,2023-01-06,18:34:09,8938511702446,3,79091.0,18:00-18:59,Beer,Domestic Beer,Domestic Craft Beer,#Bia Dream Alone Pale Ale 330ml x 1 lon
3203068,VN0043020601230140,VN0043,2023-01-06,18:36:20,8938539302017,7,128311.0,18:00-18:59,Fresh Grocery,Fruit Cat,Fruit Sub,#AF Dừa tươi tiện lợi x trái
3203069,VN0043020601230141,VN0043,2023-01-06,18:39:54,2260101000134,1,24545.0,18:00-18:59,FF Onsite,Fried Food Cat,Fried Food Sub,Viên mochi phô mai chiên x 1 phần
3203070,VN0043020601230142,VN0043,2023-01-06,18:41:21,8935117702115,1,8182.0,18:00-18:59,Dessert,Dessert Cat,Dessert Sub,ÁNH HỒNG Thạch Dừa 190g x 1 ly
3203071,VN0043020601230143,VN0043,2023-01-06,18:41:55,8936011774031,1,10909.0,18:00-18:59,Ice Cream,Packaged Ice Cream/Novelties,Corner,MERINO Kem ốc quế Supper Teen socola 60g x1 Cây
3203072,VN0043020601230144,VN0043,2023-01-06,18:42:20,8888589390130,1,14545.0,18:00-18:59,Beverage,Tea,Sugar Tea,JJ trà chanh 300ml x lon
3203073,VN0043020601230145,VN0043,2023-01-06,18:47:12,89686043686,1,6364.0,18:00-18:59,NaN,NaN,NaN,NaN
3203074,VN0043020601230146,VN0043,2023-01-06,18:47:48,8936185350130,1,30000.0,18:00-18:59,Beverage,Others Beverage,Others Drinks,KOMBUCHA vị Cam Đào 240mlxLon
3203075,VN0043020601230147,VN0043,2023-01-06,18:50:15,8934588063053,2,11819.0,18:00-18:59,Beverage,Bottled Water,Purified water,AQUAFINA Nước tinh khiết 500ml x1 Chai

In [25]:
top_10_barcodes_all_time_ranges['Barcode'] = top_10_barcodes_all_time_ranges['Barcode'].astype(str)

top_10_barcodes_all_time_ranges = top_10_barcodes_all_time_ranges.merge(df_cate, on='Barcode', how='left')
# Display head()

top_10_barcodes_all_time_ranges

C:\Users\minhtriet.pham\AppData\Local\Temp\ipykernel_3756\604459695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_10_barcodes_all_time_ranges['Barcode'] = top_10_barcodes_all_time_ranges['Barcode'].astype(str)

,StoreID,Date,Time Range,Barcode,Count,Rank,Division Name,Category Name,SubCategory Name,Item Name
0,VN0001,2023-01-01,00:00-00:59,8938512632025,4,1.0,Beverage,Bottled Water,Purified water,SATORI Nước tinh khiết 500ml x 1 Chai
1,VN0001,2023-01-01,00:00-00:59,2010101000005,3,2.0,FF Beverage,Cold Beverages,Cup Of Ice,Ly đá vừa x 1ly
2,VN0001,2023-01-01,00:00-00:59,8934588843051,3,3.0,Beverage,Sports Drinks,Sports Drinks Sub,7UP Revive 500mlx1 Chai
3,VN0001,2023-01-01,00:00-00:59,8935049500544,3,4.0,Beverage,Bottled Water,Mineral water,DASANI Nước khoáng 510ml x1 Chai
4,VN0001,2023-01-01,00:00-00:59,8935049501503,3,5.0,Beverage,Carbonated Drinks - CSD,Sugar CSD,COCA Nước giải khát có ga sleek 320ml x1 Lon
...,...,...,...,...,...,...,...,...,...,...
9098647,VN9996,2023-02-01,16:00-16:59,2010403000185,1,6.0,FF Beverage,FF Coffee,Local Coffee,#Dr_Coffee.Café sữa đá 12oz x ly
9098648,VN9996,2023-02-01,16:00-16:59,2010805000028,1,7.0,FF Onsite,Other Cuisine,Korean cuisine Sub,Tteokbokki truyền thống x 1 tô
9098649,VN9996,2023-02-01,16:00-16:59,8850157400107,1,8.0,Snacks,Snacks for Drinks,Meat snacks,BENTO Mực nướng vị cay ngọt 18g x 1 gói
9098650,VN9996,2023-02-01,16:00-16:59,8858223013039,1,9.0,Snacks,Non-potato Chips,Alternative Snacks,Mix Snack Que Rong Biển 60g x 1 Gói
9098651,VN9996,2023-02-01,16:00-16:59,8934564600357,1,10.0,Beverage,Tea,Sugar Tea,Nước C2 trà xanh Hương Chanh 455ml x 1 chai

In [26]:
import pandas as pd

# Assuming you have a list of all possible hours (0 to 23)
all_hours = list(range(24))

# Function to convert hour to time range format
def hour_to_time_range(hour):
    return f"{hour:02d}:00-{hour:02d}:59"

# Generate the list of time ranges for the day
time_ranges = [hour_to_time_range(hour) for hour in all_hours]

# Now you can use the time_ranges list in your query
df_querystore1 = top_10_barcodes_all_time_ranges[
    (top_10_barcodes_all_time_ranges['Time Range'].isin(time_ranges)) &
    (top_10_barcodes_all_time_ranges['StoreID'] == 'VN0200')
]
df_querystore1

,StoreID,Date,Time Range,Barcode,Count,Rank,Division Name,Category Name,SubCategory Name,Item Name
7376898,VN0200,2023-01-01,00:00-00:59,2010901000243,1,1.0,FF Offsite,Rice Offsite,Bento,Cơm gà phô mai siêu cay
7376899,VN0200,2023-01-01,00:00-00:59,2010902000228,1,2.0,FF Offsite,Rice Offsite,Onigiri,Cơm nắm bò gochujang siêu cay
7376900,VN0200,2023-01-01,00:00-00:59,2010902000228,1,2.0,FF Offsite,Rice Offsite,Onigiri,#Cơm nắm bò gochujang siêu cay
7376901,VN0200,2023-01-01,00:00-00:59,8801104170116,1,3.0,Ice Cream,Packaged Ice Cream/Novelties,Other Ice Cream,SAMANCO Kem bánh cá socola 150ml x1 Cai
7376902,VN0200,2023-01-01,00:00-00:59,8803628001105,1,4.0,LivingGoods,Paper/Plastic/Foil Products,Tissue,Living Khăn giấy du lịch cao cấp 40 tờ x 1 gói
...,...,...,...,...,...,...,...,...,...,...
7418547,VN0200,2023-08-17,23:00-23:59,8936104380057,1,6.0,Grocery,Instant Noodles,Instant Noodles Cup,CD mi ly tom chua cay 71g x 1ly
7418548,VN0200,2023-08-17,23:00-23:59,8936104380316,1,7.0,Grocery,Instant Noodles,Instant Noodles Bowl,KOOL Mì BBQ 105g X tô
7418549,VN0200,2023-08-17,23:00-23:59,8938500432781,1,8.0,Grocery,Edible Grocery,Instant Sausage,Oji Pinku Xúc xích heo 35g x 1 cây
7418550,VN0200,2023-08-17,23:00-23:59,8938502004030,1,9.0,FF Beverage,Cold Beverages,Cold Local Drinks,HTH Trà sữa olong lài 250ml x chai
7418551,VN0200,2023-08-17,23:00-23:59,8938512632032,1,10.0,Beverage,Bottled Water,Purified water,SATORI Nước tinh khiết 1.5L x 1 Chai

In [27]:
#df_querystore1.to_csv('VN0200.csv', index=False, encoding='utf-8')

In [28]:
import pandas as pd

# Load the list of StoreIDs from the Excel file
store_list_file = "C:\\Users\\minhtriet.pham\\Desktop\\New folder\\VscodeRun\\StoreListExport.xlsx"
store_id_list = pd.read_excel(store_list_file, header=0, usecols=[0])['StoreID'].tolist()

# Assuming you have a list of all possible hours (0 to 23)
all_hours = list(range(24))

# Function to convert hour to time range format
def hour_to_time_range(hour):
    return f"{hour:02d}:00-{hour:02d}:59"

# Generate the list of time ranges for the day
time_ranges = [hour_to_time_range(hour) for hour in all_hours]

# Filter your DataFrame using the list of StoreIDs and time ranges
df_querystore2 = test_df[
    (test_df['Time Range'].isin(time_ranges)) &
    (test_df['StoreID'].isin(store_id_list))
]

# Convert the 'Date' column to datetime format (with only date part)
df_querystore2['Date'] = pd.to_datetime(df_querystore2['Date'], errors='coerce').dt.date

# Extract the month from the "Date" column and add it as a new column
df_querystore2['Month'] = pd.to_datetime(df_querystore2['Date']).dt.month

# Iterate through unique StoreIDs and export data to separate CSV files
for store_id in df_querystore2['StoreID'].unique():
    store_df = df_querystore2[df_querystore2['StoreID'] == store_id]
    output_file = f"{store_id}_data.csv"
    store_df.to_csv(output_file, index=False, encoding='utf-8-sig')
    print(f"Exported data for StoreID {store_id} to {output_file}")

C:\Users\minhtriet.pham\AppData\Local\Temp\ipykernel_3756\1076409882.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_querystore2['Date'] = pd.to_datetime(df_querystore2['Date'], errors='coerce').dt.date
C:\Users\minhtriet.pham\AppData\Local\Temp\ipykernel_3756\1076409882.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_querystore2['Month'] = pd.to_datetime(df_querystore2['Date']).dt.month

Exported data for StoreID VN0001 to VN0001_data.csv
Exported data for StoreID VN0002 to VN0002_data.csv
Exported data for StoreID VN0003 to VN0003_data.csv
Exported data for StoreID VN0004 to VN0004_data.csv
Exported data for StoreID VN0005 to VN0005_data.csv
Exported data for StoreID VN0006 to VN0006_data.csv
Exported data for StoreID VN0008 to VN0008_data.csv
Exported data for StoreID VN0009 to VN0009_data.csv
Exported data for StoreID VN0012 to VN0012_data.csv
Exported data for StoreID VN0014 to VN0014_data.csv
Exported data for StoreID VN0015 to VN0015_data.csv
Exported data for StoreID VN0017 to VN0017_data.csv
Exported data for StoreID VN0020 to VN0020_data.csv
Exported data for StoreID VN0021 to VN0021_data.csv
Exported data for StoreID VN0022 to VN0022_data.csv
Exported data for StoreID VN0024 to VN0024_data.csv
Exported data for StoreID VN0027 to VN0027_data.csv
Exported data for StoreID VN0028 to VN0028_data.csv
Exported data for StoreID VN0030 to VN0030_data.csv
Exported data for StoreID VN0031 to VN0031_data.csv
Exported data for StoreID VN0032 to VN0032_data.csv
Exported data for StoreID VN0033 to VN0033_data.csv
Exported data for StoreID VN0034 to VN0034_data.csv
Exported data for StoreID VN0036 to VN0036_data.csv
Exported data for StoreID VN0037 to VN0037_data.csv
Exported data for StoreID VN0038 to VN0038_data.csv
Exported data for StoreID VN0039 to VN0039_data.csv
Exported data for StoreID VN0041 to VN0041_data.csv
Exported data for StoreID VN0042 to VN0042_data.csv
Exported data for StoreID VN0043 to VN0043_data.csv
Exported data for StoreID VN0048 to VN0048_data.csv
Exported data for StoreID VN0049 to VN0049_data.csv
Exported data for StoreID VN0051 to VN0051_data.csv
Exported data for StoreID VN0052 to VN0052_data.csv
Exported data for StoreID VN0053 to VN0053_data.csv
Exported data for StoreID VN0054 to VN0054_data.csv
Exported data for StoreID VN0056 to VN0056_data.csv
Exported data for StoreID VN0059 to VN0059_data.csv
Exported data for StoreID VN0060 to VN0060_data.csv
Exported data for StoreID VN0061 to VN0061_data.csv
Exported data for StoreID VN0062 to VN0062_data.csv
Exported data for StoreID VN0064 to VN0064_data.csv
Exported data for StoreID VN0065 to VN0065_data.csv
Exported data for StoreID VN0066 to VN0066_data.csv
Exported data for StoreID VN0067 to VN0067_data.csv
Exported data for StoreID VN0068 to VN0068_data.csv
Exported data for StoreID VN0070 to VN0070_data.csv
Exported data for StoreID VN0071 to VN0071_data.csv
Exported data for StoreID VN0072 to VN0072_data.csv
Exported data for StoreID VN0074 to VN0074_data.csv
Exported data for StoreID VN0075 to VN0075_data.csv
Exported data for StoreID VN0076 to VN0076_data.csv
Exported data for StoreID VN0077 to VN0077_data.csv
Exported data for StoreID VN0081 to VN0081_data.csv
Exported data for StoreID VN0083 to VN0083_data.csv
Exported data for StoreID VN0084 to VN0084_data.csv
Exported data for StoreID VN0085 to VN0085_data.csv
Exported data for StoreID VN0086 to VN0086_data.csv
Exported data for StoreID VN0087 to VN0087_data.csv
Exported data for StoreID VN0088 to VN0088_data.csv
Exported data for StoreID VN0089 to VN0089_data.csv
Exported data for StoreID VN0090 to VN0090_data.csv
Exported data for StoreID VN0091 to VN0091_data.csv
Exported data for StoreID VN0092 to VN0092_data.csv
Exported data for StoreID VN0094 to VN0094_data.csv
Exported data for StoreID VN0095 to VN0095_data.csv
Exported data for StoreID VN0096 to VN0096_data.csv
Exported data for StoreID VN0097 to VN0097_data.csv
Exported data for StoreID VN0098 to VN0098_data.csv
Exported data for StoreID VN0099 to VN0099_data.csv
Exported data for StoreID VN0101 to VN0101_data.csv
Exported data for StoreID VN0102 to VN0102_data.csv
Exported data for StoreID VN0103 to VN0103_data.csv
Exported data for StoreID VN0104 to VN0104_data.csv
Exported data for StoreID VN0105 to VN0105_data.csv
Exported data for StoreID VN0107 to VN0107_data.csv
Exported data for StoreID VN0108 to VN0108_data.csv
Exported data for StoreID VN0109 to VN0109_data.csv
Exported data for StoreID VN0110 to VN0110_data.csv
Exported data for StoreID VN0111 to VN0111_data.csv
Exported data for StoreID VN0112 to VN0112_data.csv
Exported data for StoreID VN0113 to VN0113_data.csv
Exported data for StoreID VN0115 to VN0115_data.csv
Exported data for StoreID VN0116 to VN0116_data.csv
Exported data for StoreID VN0117 to VN0117_data.csv
Exported data for StoreID VN0118 to VN0118_data.csv
Exported data for StoreID VN0119 to VN0119_data.csv
Exported data for StoreID VN0120 to VN0120_data.csv
Exported data for StoreID VN0121 to VN0121_data.csv
Exported data for StoreID VN0122 to VN0122_data.csv
Exported data for StoreID VN0123 to VN0123_data.csv
Exported data for StoreID VN0124 to VN0124_data.csv
Exported data for StoreID VN0125 to VN0125_data.csv
Exported data for StoreID VN0126 to VN0126_data.csv
Exported data for StoreID VN0128 to VN0128_data.csv
Exported data for StoreID VN0130 to VN0130_data.csv
Exported data for StoreID VN0131 to VN0131_data.csv
Exported data for StoreID VN0132 to VN0132_data.csv
Exported data for StoreID VN0133 to VN0133_data.csv
Exported data for StoreID VN0134 to VN0134_data.csv
Exported data for StoreID VN0135 to VN0135_data.csv
Exported data for StoreID VN0136 to VN0136_data.csv
Exported data for StoreID VN0137 to VN0137_data.csv
Exported data for StoreID VN0138 to VN0138_data.csv
Exported data for StoreID VN0139 to VN0139_data.csv
Exported data for StoreID VN0140 to VN0140_data.csv
Exported data for StoreID VN0141 to VN0141_data.csv
Exported data for StoreID VN0142 to VN0142_data.csv
Exported data for StoreID VN0143 to VN0143_data.csv
Exported data for StoreID VN0145 to VN0145_data.csv
Exported data for StoreID VN0146 to VN0146_data.csv
Exported data for StoreID VN0147 to VN0147_data.csv
Exported data for StoreID VN0148 to VN0148_data.csv
Exported data for StoreID VN0149 to VN0149_data.csv
Exported data for StoreID VN0150 to VN0150_data.csv
Exported data for StoreID VN0151 to VN0151_data.csv
Exported data for StoreID VN0152 to VN0152_data.csv
Exported data for StoreID VN0153 to VN0153_data.csv
Exported data for StoreID VN0154 to VN0154_data.csv
Exported data for StoreID VN0155 to VN0155_data.csv
Exported data for StoreID VN0156 to VN0156_data.csv
Exported data for StoreID VN0157 to VN0157_data.csv
Exported data for StoreID VN0159 to VN0159_data.csv
Exported data for StoreID VN0160 to VN0160_data.csv
Exported data for StoreID VN0161 to VN0161_data.csv
Exported data for StoreID VN0162 to VN0162_data.csv
Exported data for StoreID VN0163 to VN0163_data.csv
Exported data for StoreID VN0164 to VN0164_data.csv
Exported data for StoreID VN0165 to VN0165_data.csv
Exported data for StoreID VN0166 to VN0166_data.csv
Exported data for StoreID VN0167 to VN0167_data.csv
Exported data for StoreID VN0168 to VN0168_data.csv
Exported data for StoreID VN0169 to VN0169_data.csv
Exported data for StoreID VN0170 to VN0170_data.csv
Exported data for StoreID VN0171 to VN0171_data.csv
Exported data for StoreID VN0172 to VN0172_data.csv
Exported data for StoreID VN0173 to VN0173_data.csv
Exported data for StoreID VN0174 to VN0174_data.csv
Exported data for StoreID VN0175 to VN0175_data.csv
Exported data for StoreID VN0176 to VN0176_data.csv
Exported data for StoreID VN0177 to VN0177_data.csv
Exported data for StoreID VN0178 to VN0178_data.csv
Exported data for StoreID VN0179 to VN0179_data.csv
Exported data for StoreID VN0180 to VN0180_data.csv
Exported data for StoreID VN0181 to VN0181_data.csv
Exported data for StoreID VN0182 to VN0182_data.csv
Exported data for StoreID VN0183 to VN0183_data.csv
Exported data for StoreID VN0184 to VN0184_data.csv
Exported data for StoreID VN0185 to VN0185_data.csv
Exported data for StoreID VN0186 to VN0186_data.csv
Exported data for StoreID VN0187 to VN0187_data.csv
Exported data for StoreID VN0188 to VN0188_data.csv
Exported data for StoreID VN0189 to VN0189_data.csv
Exported data for StoreID VN0190 to VN0190_data.csv
Exported data for StoreID VN0191 to VN0191_data.csv
Exported data for StoreID VN0192 to VN0192_data.csv
Exported data for StoreID VN0193 to VN0193_data.csv
Exported data for StoreID VN0194 to VN0194_data.csv
Exported data for StoreID VN0195 to VN0195_data.csv
Exported data for StoreID VN0196 to VN0196_data.csv
Exported data for StoreID VN0197 to VN0197_data.csv
Exported data for StoreID VN0198 to VN0198_data.csv
Exported data for StoreID VN0199 to VN0199_data.csv
Exported data for StoreID VN0200 to VN0200_data.csv
Exported data for StoreID VN0201 to VN0201_data.csv
Exported data for StoreID VN0202 to VN0202_data.csv
Exported data for StoreID VN0203 to VN0203_data.csv
Exported data for StoreID VN0204 to VN0204_data.csv
Exported data for StoreID VN0205 to VN0205_data.csv
Exported data for StoreID VN0206 to VN0206_data.csv
Exported data for StoreID VN0207 to VN0207_data.csv
Exported data for StoreID VN0208 to VN0208_data.csv
Exported data for StoreID VN0209 to VN0209_data.csv
Exported data for StoreID VN0210 to VN0210_data.csv
Exported data for StoreID VN0211 to VN0211_data.csv
Exported data for StoreID VN0212 to VN0212_data.csv
Exported data for StoreID VN0213 to VN0213_data.csv
Exported data for StoreID VN0214 to VN0214_data.csv
Exported data for StoreID VN0215 to VN0215_data.csv
Exported data for StoreID VN0216 to VN0216_data.csv
Exported data for StoreID VN0217 to VN0217_data.csv
Exported data for StoreID VN0218 to VN0218_data.csv
Exported data for StoreID VN0219 to VN0219_data.csv
Exported data for StoreID VN0220 to VN0220_data.csv
Exported data for StoreID VN0221 to VN0221_data.csv
Exported data for StoreID VN0222 to VN0222_data.csv
Exported data for StoreID VN0223 to VN0223_data.csv
Exported data for StoreID VN0224 to VN0224_data.csv
Exported data for StoreID VN0225 to VN0225_data.csv
Exported data for StoreID VN0226 to VN0226_data.csv
Exported data for StoreID VN0227 to VN0227_data.csv
Exported data for StoreID VN0228 to VN0228_data.csv
Exported data for StoreID VN0229 to VN0229_data.csv
Exported data for StoreID VN0230 to VN0230_data.csv
Exported data for StoreID VN0231 to VN0231_data.csv
Exported data for StoreID VN0232 to VN0232_data.csv
Exported data for StoreID VN0233 to VN0233_data.csv
Exported data for StoreID VN0234 to VN0234_data.csv
Exported data for StoreID VN0235 to VN0235_data.csv
Exported data for StoreID VN0236 to VN0236_data.csv
Exported data for StoreID VN0237 to VN0237_data.csv
Exported data for StoreID VN0238 to VN0238_data.csv
Exported data for StoreID VN0239 to VN0239_data.csv
Exported data for StoreID VN0240 to VN0240_data.csv
Exported data for StoreID VN0241 to VN0241_data.csv
Exported data for StoreID VN0242 to VN0242_data.csv
Exported data for StoreID VN0243 to VN0243_data.csv
Exported data for StoreID VN0245 to VN0245_data.csv
Exported data for StoreID VN0247 to VN0247_data.csv
Exported data for StoreID VN0249 to VN0249_data.csv
Exported data for StoreID VN0251 to VN0251_data.csv
Exported data for StoreID VN0252 to VN0252_data.csv

In [29]:
import pandas as pd
import xlsxwriter

# Load the list of StoreIDs from the Excel file
store_list_file = "C:\\Users\\minhtriet.pham\\Desktop\\New folder\\VscodeRun\\StoreListExport.xlsx"
store_id_list = pd.read_excel(store_list_file, header=0, usecols=[0])['StoreID'].tolist()

# Create a dictionary to store the sales contributions
sales_contributions = {}

# Iterate through unique StoreIDs and calculate sales contributions
for store_id in df_querystore2['StoreID'].unique():
    store_df = df_querystore2[df_querystore2['StoreID'] == store_id]
    contribution = store_df.groupby(['Month', 'Division Name']).agg({
        'Total Exclude VAT': 'sum',
        'Sum of Qty': 'sum'
    })
    sales_contributions[store_id] = contribution

# Create a Pandas Excel writer using XlsxWriter as the engine
excel_writer = pd.ExcelWriter('Sales_Contribution.xlsx', engine='xlsxwriter')

# Iterate through the sales contributions and write to Excel
for store_id, contribution in sales_contributions.items():
    
    # Calculate % Sales Contribution
    total_sales = contribution.groupby('Month')['Total Exclude VAT'].transform('sum')
    contribution['% Sales Contribution'] = (contribution['Total Exclude VAT'] / total_sales)
    
    # Rank the divisions for each month
    contribution['Rank'] = contribution.groupby('Month')['% Sales Contribution'].rank(ascending=False, method='first')
    
    contribution.to_excel(excel_writer, sheet_name=f'Store_{store_id}_Contribution')


# Close the Pandas Excel writer and save the file
excel_writer.close()

print("Sales contribution data exported to Sales_Contribution.xlsx")

Sales contribution data exported to Sales_Contribution.xlsx

In [76]:
import openpyxl

# Load the Excel workbook
wb = openpyxl.load_workbook('Sales_Contribution.xlsx')

# Iterate through sheets and unmerge cells, then apply ffill
for sheet_name in wb.sheetnames:
    sheet = wb[sheet_name]
    
    # Create a copy of the merged cell ranges
    merged_cell_ranges = list(sheet.merged_cells.ranges)
    
    # Unmerge cells using the copied ranges
    for merged_cell_range in merged_cell_ranges:
        sheet.unmerge_cells(merged_cell_range.coord)
    
    # Apply ffill to fill the blank cells
    for column in sheet.iter_cols():
        for cell in column:
            if cell.value is None:
                cell.value = cell.offset(-1, 0).value

# Save the modified workbook
wb.save('Unmerged_Filled_Sales_Contribution.xlsx')

In [77]:
import openpyxl
import pandas as pd

# Load the Excel workbook
wb = openpyxl.load_workbook('Unmerged_Filled_Sales_Contribution.xlsx')

# Create a Pandas DataFrame to store the summary data
summary_data = []

# Iterate through sheets and extract data for summary
for sheet_name in wb.sheetnames:
    if sheet_name.startswith("Store_"):
        store_id = sheet_name.split('_')[1]
        sheet = wb[sheet_name]
        
        # Iterate through rows and extract data
        for row in sheet.iter_rows(min_row=2, values_only=True):
            month = row[0]  # Column A is Month
            division = row[1]  # Column B is Division Name
            sales_contribution = row[4]  # Column E is % Sales Contribution
            summary_data.append([store_id, month, division, sales_contribution])

# Create a DataFrame from the summary data
summary_df = pd.DataFrame(summary_data, columns=['StoreID', 'Month', 'Division Name', '% Sales Contribution'])

# Add a new sheet at the beginning of the workbook
wb.create_sheet(title='Summary', index=0)
summary_sheet = wb['Summary']

# Write the header row to the summary sheet
summary_sheet.append(['StoreID', 'Month', 'Division Name', '% Sales Contribution'])

# Write the data to the summary sheet
for row in summary_data:
    summary_sheet.append(row)

# Apply percentage formatting to the % Sales Contribution column
for row in summary_sheet.iter_rows(min_row=2, min_col=4, max_col=4):
    for cell in row:
        cell.number_format = '0.00%'

# Save the modified workbook
wb.save('Unmerged_Filled_Sales_Contribution.xlsx')

print("Summary sheet added to Unmerged_Filled_Sales_Contribution.xlsx")

Summary sheet added to Unmerged_Filled_Sales_Contribution.xlsx

In [78]:
# import openpyxl
# from openpyxl.styles import PatternFill
# import pandas as pd

# # Load the Excel workbook
# wb = openpyxl.load_workbook('Unmerged_Filled_Sales_Contribution.xlsx')

# # Create a Pandas DataFrame to store the summary data
# summary_data = []

# # Iterate through sheets and extract data for summary
# for sheet_name in wb.sheetnames:
#     if sheet_name.startswith("Store_"):
#         store_id = sheet_name.split('_')[1]
#         sheet = wb[sheet_name]
        
#         # Iterate through rows and extract data
#         for row in sheet.iter_rows(min_row=2, values_only=True):
#             month = row[0]  # Column A is Month
#             division = row[1]  # Column B is Division Name
#             sales_contribution = row[4]  # Column E is % Sales Contribution
#             summary_data.append([store_id, month, division, sales_contribution])

# # Create a DataFrame from the summary data
# summary_df = pd.DataFrame(summary_data, columns=['StoreID', 'Month', 'Division Name', '% Sales Contribution'])

# # Add a new sheet for similar patterns
# similar_patterns_sheet = wb.create_sheet(title='Similar Patterns', index=0)

# # Write the header row to the similar patterns sheet
# header_row = ['StoreID', 'Month', 'Pattern', 'Cumulative %']
# unique_divisions = summary_df['Division Name'].unique()
# for division in unique_divisions:
#     header_row.append(division)
# similar_patterns_sheet.append(header_row)

# # Define 24 fill colors for 24 ranks (Gradient from Green to Red)
# fill_colors = [
#     PatternFill(start_color="00FF00", end_color="00FF00", fill_type="solid"),  # Green
#     PatternFill(start_color="10D927", end_color="10D927", fill_type="solid"),
#     PatternFill(start_color="21B24D", end_color="21B24D", fill_type="solid"),
#     PatternFill(start_color="31A673", end_color="31A673", fill_type="solid"),
#     PatternFill(start_color="429899", end_color="429899", fill_type="solid"),
#     PatternFill(start_color="5284BF", end_color="5284BF", fill_type="solid"),
#     PatternFill(start_color="6270E5", end_color="6270E5", fill_type="solid"),
#     PatternFill(start_color="726CFA", end_color="726CFA", fill_type="solid"),
#     PatternFill(start_color="8268FF", end_color="8268FF", fill_type="solid"),
#     PatternFill(start_color="9265FF", end_color="9265FF", fill_type="solid"),
#     PatternFill(start_color="A263FF", end_color="A263FF", fill_type="solid"),
#     PatternFill(start_color="B261FF", end_color="B261FF", fill_type="solid"),
#     PatternFill(start_color="C35FFB", end_color="C35FFB", fill_type="solid"),
#     PatternFill(start_color="D35DF7", end_color="D35DF7", fill_type="solid"),
#     PatternFill(start_color="E45BF3", end_color="E45BF3", fill_type="solid"),
#     PatternFill(start_color="F559EF", end_color="F559EF", fill_type="solid"),
#     PatternFill(start_color="FF57EB", end_color="FF57EB", fill_type="solid"),
#     PatternFill(start_color="FF64D5", end_color="FF64D5", fill_type="solid"),
#     PatternFill(start_color="FF72BF", end_color="FF72BF", fill_type="solid"),
#     PatternFill(start_color="FF8099", end_color="FF8099", fill_type="solid"),
#     PatternFill(start_color="FF8E73", end_color="FF8E73", fill_type="solid"),
#     PatternFill(start_color="FF9C4D", end_color="FF9C4D", fill_type="solid"),
#     PatternFill(start_color="FFAA27", end_color="FFAA27", fill_type="solid"),
#     PatternFill(start_color="FFB700", end_color="FFB700", fill_type="solid"),  # Red
# ]

# # Sort the DataFrame by StoreID, Month, and % Sales Contribution
# summary_df.sort_values(by=['StoreID', 'Month', '% Sales Contribution'], ascending=[True, True, False], inplace=True)

# # Iterate through unique combinations of Store ID and Month
# for store_id, month in summary_df[['StoreID', 'Month']].drop_duplicates().itertuples(index=False):
#     store_month_df = summary_df[(summary_df['StoreID'] == store_id) & (summary_df['Month'] == month)]
#     cumulative_percentage = 0.0
#     pattern = []
#     division_contributions = {}
#     for division, percentage in store_month_df[['Division Name', '% Sales Contribution']].itertuples(index=False):
#         cumulative_percentage += percentage
#         pattern.append(division)
#         division_contributions[division] = percentage
#         if cumulative_percentage >= 0.7:  # Check if cumulative % exceeds 70%
#             break
#     pattern_str = ' -> '.join(pattern)
#     row_values = [store_id, month, pattern_str, cumulative_percentage]
#     for division in unique_divisions:
#         row_values.append(division_contributions.get(division, 0))
#     similar_patterns_sheet.append(row_values)

# # Apply percentage formatting to the Cumulative % and Division columns
# for row in similar_patterns_sheet.iter_rows(min_row=2, min_col=4, max_col=similar_patterns_sheet.max_column):
#     for cell in row:
#         cell.number_format = '0.00%'
        
# # Apply conditional formatting to highlight cells based on values in a row
# for row_idx in range(2, similar_patterns_sheet.max_row + 1):
#     row = similar_patterns_sheet[row_idx]
#     for cell_idx, cell in enumerate(row[5:], start=5):
#         value = cell.value
#         if value > 0:
#             fill_color_index = cell_idx % len(fill_colors)
#             cell.fill = fill_colors[fill_color_index]

# # Save the modified workbook
# wb.save('Unmerged_Filled_Sales_Contribution.xlsx')

# print("Similar Patterns sheet added to Unmerged_Filled_Sales_Contribution.xlsx")

In [86]:
import openpyxl
from openpyxl.styles import PatternFill
import pandas as pd

# Load the Excel workbook
wb = openpyxl.load_workbook('Unmerged_Filled_Sales_Contribution.xlsx')

# Create a Pandas DataFrame to store the summary data
summary_data = []

# Iterate through sheets and extract data for summary
for sheet_name in wb.sheetnames:
    if sheet_name.startswith("Store_"):
        store_id = sheet_name.split('_')[1]
        sheet = wb[sheet_name]
        
        # Iterate through rows and extract data
        for row in sheet.iter_rows(min_row=2, values_only=True):
            month = row[0]  # Column A is Month
            division = row[1]  # Column B is Division Name
            sales_contribution = row[4]  # Column E is % Sales Contribution
            summary_data.append([store_id, month, division, sales_contribution])

# Create a DataFrame from the summary data
summary_df = pd.DataFrame(summary_data, columns=['StoreID', 'Month', 'Division Name', '% Sales Contribution'])

# Add a new sheet for similar patterns
similar_patterns_sheet = wb.create_sheet(title='Similar Patterns', index=0)

# Write the header row to the similar patterns sheet
header_row = ['StoreID', 'Month', 'Pattern', 'Cumulative %']
unique_divisions = summary_df['Division Name'].unique()
for division in unique_divisions:
    header_row.append(division)
similar_patterns_sheet.append(header_row)

# Sort the DataFrame by StoreID, Month, and % Sales Contribution
summary_df.sort_values(by=['StoreID', 'Month', '% Sales Contribution'], ascending=[True, True, False], inplace=True)

# Define a list of distinct colors
distinct_colors = [
    "0070C0", "00B050", "FFC000", "ED7D31", "A5A5A5", "5B9BD5", "70AD47", "9E480E",
    "636363", "31859B", "4F81BD", "F79646", "C0504D", "4BACC6", "8064A2", "FABF8F",
    "C6E0B4", "A9D18E", "C27BA0", "BC95D6", "E7B6FF", "B4A7D6", "FFBB78", "5A9BD5"
]

# Create a dictionary to map divisions to colors
division_colors = {division: color for division, color in zip(unique_divisions, distinct_colors)}

# Iterate through unique combinations of Store ID and Month
for store_id, month in summary_df[['StoreID', 'Month']].drop_duplicates().itertuples(index=False):
    store_month_df = summary_df[(summary_df['StoreID'] == store_id) & (summary_df['Month'] == month)]
    cumulative_percentage = 0.0
    pattern = []
    division_contributions = {}
    for division, percentage in store_month_df[['Division Name', '% Sales Contribution']].itertuples(index=False):
        cumulative_percentage += percentage
        pattern.append(division)
        division_contributions[division] = percentage
        if cumulative_percentage >= 0.7:  # Check if cumulative % exceeds 70%
            break
    pattern_str = ' -> '.join(pattern)
    row_values = [store_id, month, pattern_str, cumulative_percentage]
    for division in unique_divisions:
        row_values.append(division_contributions.get(division, 0))
    similar_patterns_sheet.append(row_values)

# Apply percentage formatting to the Cumulative % and Division columns
for row in similar_patterns_sheet.iter_rows(min_row=2, min_col=4, max_col=similar_patterns_sheet.max_column):
    for cell in row:
        cell.number_format = '0.00%'
        
# Apply conditional formatting to highlight cells based on values in a row
for row in similar_patterns_sheet.iter_rows(min_row=2):
    values = [cell.value for cell in row[4:]]  # Start from the fifth column (Column E) to the end of the row
    non_zero_values = [value for value in values if value != 0]
    
    if non_zero_values:
        ranked_values = sorted(non_zero_values, reverse=True)
        
        for idx, cell in enumerate(row[4:], start=4):  # Start column index from 4 (Column E)
            value = cell.value
            if value != 0:
                rank = ranked_values.index(value)
                color_code = distinct_colors[rank % len(distinct_colors)]
                fill = PatternFill(start_color=color_code, end_color=color_code, fill_type="solid")
                cell.fill = fill

# Save the modified workbook
wb.save('Unmerged_Filled_Sales_Contribution.xlsx')

print("Similar Patterns sheet added to Unmerged_Filled_Sales_Contribution.xlsx")

Similar Patterns sheet added to Unmerged_Filled_Sales_Contribution.xlsx